extends layout

block content
	.first-form.center
		.col-md-3
			//form#formLoginUser(name="loginuser",method="post",action="/juego")
				input#inputtitle(type="hidden", name="title", value="#{title}")
				input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
				input.btn.btn-primary.big-button(type="submit", value='¿Cómo Juego?') 
			form#formLoginUser(name="loginuser",method="post",action="/aprende")
				input#inputtitle(type="hidden", name="title", value="#{title}")
				input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
				input.btn.btn-primary.big-button(type="submit", value='Aprende')
			form#formLoginUser(name="loginuser",method="post",action="/diviertete")
				input#inputtitle(type="hidden", name="title", value="#{title}")
				input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
				input.btn.btn-primary.big-button(type="submit", value='Diviertete')
			form#formLoginUser(name="loginuser",method="post",action="/salon")
				input#inputtitle(type="hidden", name="title", value="#{title}")
				input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
				input.btn.btn-primary.big-button(type="submit", value='Salon')
		.col-md-6
			.second-form
				case title
					when 'Génesis'
						case nivel
							when '1'
								h3 Crucigrama
								.col-md-6
									table.tablaFull(border='1')
										tr
											td
											td
											td
											td
											td
											td.numero 3
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.numero 2
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td.numero 1
											td.letra
												input.group1(type='text', maxlength='1')
											td.letra
												input.group2.group1(type='text', maxlength='1')
											td.letra
												input.group1(type='text', maxlength='1')
											td.letra
												input.group3.group1(type='text', maxlength='1')
											td.letra
												input.group1(type='text', maxlength='1')
											td.letra
												input.group1(type='text', maxlength='1')
											td.letra
												input.group1(type='text', maxlength='1')
											td.letra
												input.group1(type='text', maxlength='1')
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.letra
												input.group3(type='text', maxlength='1')
											td
											td.numero 6
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td
											td.letra
												input.group7(type='text', maxlength='1')
											td.letra
												input.group6.group7(type='text', maxlength='1')
											td.letra
												input.group7(type='text', maxlength='1')
											td.letra
												input.group7(type='text', maxlength='1')
											td.letra
												input.group7(type='text', maxlength='1')
											td.letra
												input.group7(type='text', maxlength='1')
											td.letra
												input.group7(type='text', maxlength='1')
											td.letra
												input.group7(type='text', maxlength='1')
											td.numero 7
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.numero 5
											td
											td.letra
												input.group6(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
										tr
											td.numero 4
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group2.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group5.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group6.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td.letra
												input.group4(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td.letra
												input.group6(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group2(type='text', maxlength='1')
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td.letra
												input.group6(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td.letra
												input.group6(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td.letra
												input.group6(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td.letra
												input.group6(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td.letra
												input.group6(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group5(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
								.col-md-6(style='text-align:left;')
									ol(type='1')
										li Principio de la bioética que  propende por la igualdad en el tratamiento de todos los humanos (Invertido).
										li Es el soporte fundamental de la bioética
										li Es la postura mayoritaria en la bioética y trata del estudio de los deberes. (Invertido)
										li Es la postura donde el centro no es el ser humano sino la vida en general. 
										li Etimológicamente significa buen origen o principio
										li Es un principio bioético que trata de respetar la libertad de la persona.
										li Es una finalidad de la bioética que busca el respeto entre los seres humanos y la mejora de sus condiciones de vida bajo ciertos estándares o modelos. (Invertido).
									form#formGenesisFirst(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="2")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar") 
							when '2'
								h3 Sopa de letras
								.col-md-6
									table.tableFull1(border='1')
										tr
											td C
											td N
											td A
											td I
											td C
											td I
											td T
											td S
											td U
											td J
											td O
											td L
											td P
											td N
											td N
										tr
											td O
											td O
											td I
											td F
											td R
											td I
											td D
											td A
											td K
											td H
											td A
											td L
											td O
											td O
											td A
										tr
											td N
											td R
											td S
											td L
											td R
											td V
											td I
											td R
											td G
											td I
											td N
											td S
											td A
											td A
											td S
										tr
											td S
											td U
											td E
											td O
											td B
											td I
											td O
											td T
											td I
											td C
											td O
											td I
											td C
											td I
											td H
										tr
											td E
											td E
											td N
											td R
											td O
											td S
											td C
											td A
											td L
											td P
											td C
											td V
											td I
											td B
											td R
										tr
											td N
											td G
											td E
											td I
											td T
											td A
											td L
											td A
											td C
											td N
											td A
											td I
											td T
											td M
											td E
										tr
											td T
											td A
											td G
											td D
											td I
											td F
											td D
											td O
											td E
											td E
											td S
											td E
											td E
											td O
											td D
										tr
											td I
											td O
											td U
											td A
											td N
											td R
											td E
											td C
											td C
											td M
											td I
											td N
											td O
											td L
											td O
										tr
											td M
											td S
											td E
											td A
											td V
											td E
											td I
											td E
											td N
											td O
											td A
											td T
											td R
											td O
											td T
										tr
											td I
											td O
											td L
											td A
											td O
											td F
											td L
											td I
											td C
											td R
											td P
											td O
											td L
											td C
											td E
										tr
											td E
											td I
											td N
											td V
											td E
											td S
											td T
											td I
											td G
											td A
											td C
											td I
											td O
											td N
											td P
										tr
											td N
											td I
											td I
											td N
											td T
											td R
											td O
											td C
											td B
											td L
											td U
											td R
											td T
											td I
											td S
										tr
											td T
											td N
											td E
											td N
											td D
											td S
											td C
											td L
											td A
											td R
											td O
											td F
											td R
											td O
											td E
										tr
											td O
											td B
											td T
											td I
											td G
											td O
											td R
											td A
											td T
											td S
											td I
											td V
											td O
											td M
											td R
										tr
											td R
											td E
											td S
											td P
											td O
											td N
											td S
											td A
											td B
											td I
											td L
											td I
											td D
											td A
											td D
								.col-md-6.pull-left(style='text-align:left;')
									ol
										li Consentimiento
										li Responsabilidad
										li Beneficencia
										li Respeto
										li Investigación
										li Justicia
										li Eugenesia
										li Ética
										li Moral
										li Biótico
									form#formGenesisSecond(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="3")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar")
							when '3'
								.row
									.col-md-5.tabla3
										div(onclick="this.style.background='yellow'") Protección al medio ambiente, biósfera y biodiversidad
										hr
										div(onclick="this.style.background='orange'") Beneficencia
										hr
										div(onclick="this.style.background='blue';this.style.color='white'") Remordimiento
										hr
										div(onclick="this.style.background='black';this.style.color='white'") Exclusión
										hr
										div(onclick="this.style.background='red';this.style.color='white'") Normas sociales
										hr
										div(onclick="this.style.background='gray'") Reflexión acerca de la moral
										hr
										div(onclick="this.style.background='green'") Biocentrismo
										hr
										div(onclick="this.style.background='purple';this.style.color='white'") Aprendizaje de valores
									.col-md-2
									.col-md-5.tabla3
										div(onclick="this.style.background='green'") Bioética
										hr
										div(onclick="this.style.background='blue';this.style.color='white'") Consecuencia Interna de la moral
										hr
										div(onclick="this.style.background='orange'") Principio Bioético
										hr
										div(onclick="this.style.background='black';this.style.color='white'") Consecuencia Externa de la Moral
										hr
										div(onclick="this.style.background='yellow'") Declaración Universal sobre Bioética y Derechos Humanos
										hr
										div(onclick="this.style.background='gray'") Ética
										hr
										div(onclick="this.style.background='purple';this.style.color='white'") Enculturación
										hr
										div(onclick="this.style.background='red';this.style.color='white'") Moral
								.row
									form#formGenesisThird(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="4")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar")
							default
								h2.center.title Ganaste
								form#formGenesisThird(name="loginuser",method="post",action="/salon")
									input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
									input#continuar.scroll(type="submit", value="Continuar")
					when 'El Galeno'
						case nivel
							when '1'
								.row
									.col-md-5.tabla4
										div(onclick="this.style.background='yellow'") Caso Tuskegee
										hr
										div(onclick="this.style.background='orange'") Consentimiento informado
										hr
										div(onclick="this.style.background='blue';this.style.color='white'") Trasplante
										hr
										div(onclick="this.style.background='black';this.style.color='white'") Autonomía
										hr
										div(onclick="this.style.background='red';this.style.color='white'") Escasez de órganos
										hr
										div(onclick="this.style.background='gray'") Ensayos clínicos
										hr
										div(onclick="this.style.background='green'") Eutanasia
										hr
										div(onclick="this.style.background='purple';this.style.color='white'") Endógenos
									.col-md-2
									.col-md-5.tabla4
										div(onclick="this.style.background='black';this.style.color='white'") Testamentos vitales
										hr
										div(onclick="this.style.background='purple';this.style.color='white'") Propio sistema biológico
										hr
										div(onclick="this.style.background='yellow'") Población vulnerable
										hr
										div(onclick="this.style.background='green'") Enfermo deshauciado
										hr
										div(onclick="this.style.background='orange'") Tratamiento clínico
										hr
										div(onclick="this.style.background='red';this.style.color='white'") Órganos artificiales
										hr
										div(onclick="this.style.background='gray'") Experimento con seres vivos
										hr
										div(onclick="this.style.background='blue';this.style.color='white'") Medicina regenerativa
								.row
									form#formElGalenoFirst(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="2")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar")
							when '2'
								h3 Crucigrama
								.col-md-6
									table.tablaFull5(border='1')
										tr
											td
											td
											td
											td
											td
											td.numero 2
											td
											td
											td
											td
											td
											td.numero 4
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td.numero 3
											td
											td
											td
											td.letra
												input.group4v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td
											td.numero 1
											td.letra
												input.group2v.grupo1h(type='text', maxlength='1')
											td.letra
												input.grupo1h(type='text', maxlength='1')
											td.letra
												input.group3v.grupo1h(type='text', maxlength='1')
											td.letra
												input.grupo1h(type='text', maxlength='1')
											td.letra
												input.grupo1h(type='text', maxlength='1')
											td.letra
												input.grupo1h(type='text', maxlength='1')
											td.letra
												input.group4v.grupo1h(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
											td
											td.letra
												input.group4v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
											td
											td.letra
												input.group4v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
											td
											td.letra
												input.group4v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td.numero 1
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td.numero 2
											td.letra
												input.group3v.grupo2h(type='text', maxlength='1')
											td.letra
												input.grupo2h(type='text', maxlength='1')
											td.letra
												input.grupo2h(type='text', maxlength='1')
											td.letra
												input.grupo2h(type='text', maxlength='1')
											td.letra
												input.grupo2h(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td.numero 3
											td.letra
												input.group1v.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td.letra
												input.group2v.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td.letra
												input.grupo3h(type='text', maxlength='1')
											td
										tr
											td
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td.numero 4
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group2v.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td
										tr
											td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											td
											td
											td
											td
											td
											td
											td
											td
											td
											td
											td
											td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								.col-md-6(style='text-align:left;')
									h3 Horizontal
									ol(type='1')
										li Los productos de la naturaleza que ponen en peligro no sólo la existencia singular sino la existencia como especie.
										li Organismos de alta complejidad que nacen, crecen, se desarrollan y mueren
										li Es el estado de vulnerabilidad de la persona para enfrentarse a eventos que sean susceptibles a la pérdida o daño de algo.
										li Poner o reparar una cosa u órgano deteriorado o gastada en buena condición ya sea de una forma artificial o a través de los propios elementos.
									h3 Vertical
									ol(type='1')
										li Invertido, Una persona que tiene una alteración leve o grave del funcionamiento del organismo.
										li implante material biológico de un animal a un ser humano, teniendo como desventaja las barreras inmunitarias que puede generarse en el animal.
										li Plural, Conjunto de tejidos que forman una estructura y tiene una función determinada.
										li Intenso Sufrimiento.
									form#formElGalenoSecond(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="3")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar") 
							when '3'
								h3 Sopa de letras
								.col-md-6
									table.tableFull6(border='1')
										tr
											td V
											td E
											td P
											td S
											td T
											td U
											td Z
											td R
											td T
											td O
											td W
											td Y
											td N
											td G
											td A
										tr
											td M
											td U
											td T
											td A
											td C
											td I
											td O
											td N
											td E
											td S
											td L
											td D
											td I
											td U
											td Q
										tr
											td P
											td T
											td L
											td A
											td O
											td C
											td R
											td O
											td N
											td T
											td A
											td P
											td S
											td E
											td N
										tr
											td A
											td A
											td U
											td N
											td L
											td A
											td T
											td E
											td P
											td D
											td E
											td D
											td O
											td S
											td O
										tr
											td I
											td N
											td D
											td T
											td E
											td S
											td O
											td Ñ
											td I
											td P
											td I
											td R
											td T
											td O
											td I
										tr
											td S
											td A
											td I
											td A
											td G
											td R
											td T
											td C
											td S
											td O
											td M
											td E
											td R
											td Y
											td S
										tr
											td A
											td S
											td C
											td S
											td I
											td X
											td A
											td X
											td S
											td C
											td W
											td T
											td O
											td N
											td U
										tr
											td N
											td I
											td O
											td R
											td O
											td P
											td N
											td B
											td J
											td A
											td E
											td N
											td B
											td A
											td F
										tr
											td A
											td A
											td Ñ
											td W
											td A
											td T
											td A
											td L
											td I
											td R
											td M
											td A
											td T
											td L
											td S
										tr
											td T
											td X
											td E
											td C
											td R
											td A
											td S
											td O
											td Z
											td L
											td Y
											td N
											td C
											td F
											td N
										tr
											td S 
											td O 
											td S 
											td A 
											td E 
											td C 
											td I 
											td Q 
											td Y 
											td P 
											td I 
											td O 
											td M 
											td U 
											td A
										tr
											td I 
											td I 
											td N 
											td S 
											td W 
											td P 
											td A 
											td U 
											td X 
											td E 
											td Ñ 
											td D 
											td T 
											td V 
											td R
										tr
											td D 
											td A 
											td D 
											td I 
											td S 
											td E 
											td T 
											td N 
											td A 
											td L 
											td P 
											td S 
											td A 
											td R 
											td T
										tr
											td P 
											td O 
											td E 
											td T 
											td A 
											td L 
											td R 
											td I 
											td G 
											td O 
											td T 
											td A 
											td C 
											td D
											td A
										tr
											td U 
											td D 
											td A 
											td D 
											td I 
											td L 
											td I 
											td B 
											td I 
											td T 
											td A 
											td P 
											td M 
											td O
											td C
								.col-md-6.pull-left(style='text-align:left;')
									ol
										li Vulnerabilidad 
										li Discapacidad 
										li Distanasia
										li trasplante
										li Mutaciones
										li Eutanasia
										li Ortonanasia
										li Donante
										li Compatibilidad
										li transfusión
									form#formElGalenoThird(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="4")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar")
							default
								h2.center.title Ganaste
								form#formGenesisThird(name="loginuser",method="post",action="/salon")
									input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
									input#continuar.scroll(type="submit", value="Continuar")
					when 'El Parche'
						case nivel
							when '1'
								.row
									h3 CAJÓN DE PALABRAS
									.col-md-7
										table.tableParche1
											tr
												td(draggable="true" ondragstart="drag(event)") INTER
												td(draggable="true" ondragstart="drag(event)") DIG
												td(draggable="true" ondragstart="drag(event)") DE
												td(draggable="true" ondragstart="drag(event)") DESI
												td(draggable="true" ondragstart="drag(event)") BI
												td(draggable="true" ondragstart="drag(event)") FA
											tr
												td(draggable="true" ondragstart="drag(event)") E
												td(draggable="true" ondragstart="drag(event)") MI
												td(draggable="true" ondragstart="drag(event)") RIO
												td(draggable="true" ondragstart="drag(event)") DIS
												td(draggable="true" ondragstart="drag(event)") CHOS
												td(draggable="true" ondragstart="drag(event)") PLI
											tr
												td(draggable="true" ondragstart="drag(event)") LI
												td(draggable="true" ondragstart="drag(event)") NA
												td(draggable="true" ondragstart="drag(event)") O
												td(draggable="true" ondragstart="drag(event)") A
												td(draggable="true" ondragstart="drag(event)") CI
												td(draggable="true" ondragstart="drag(event)") GUAL
											tr
												td(draggable="true" ondragstart="drag(event)") DAD
												td(draggable="true" ondragstart="drag(event)") RE
												td(draggable="true" ondragstart="drag(event)") DAD
												td(draggable="true" ondragstart="drag(event)") TI
												td(draggable="true" ondragstart="drag(event)") NI
												td(draggable="true" ondragstart="drag(event)") CA
										br
										br
										input.cajon(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajon(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajon(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajon(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajon(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajon(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
									.col-md-5.pull-left(style='text-align:left;')
										p En el cuadro que hay a continuación están todas las sílabas que necesitas para formar los nombres de seis de las palabras involucradas en el texto de Bioética y sociedad.¿Puedes formarlas? 
										form#formElParcheFirst(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="2")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
											input#continuar.scroll(type="submit", value="Continuar")
								.row
							when '2'
								.row
									h3 COMPLETA LA FRASE
									.col-md-7
										table.tableParche1(border='1')
											tr
												td DIRECTOS
												td ESTUDIO
												td LA BIOÉTICA
											tr
												td SOCIAL
												td HACER
												td DE TODOS
											tr
												td QUE
												td LA FAMILIA
												td E
											tr
												td UN
												td LOS
												td DEBE
											tr
												td TRANSFORMAN
												td CAMBIAN 
												td Y
											tr
												td INTERSICIPLINARIO
												td INDIRECTOS
												td IMPACTOS
										br
										textarea.completa
									.col-md-5.pull-left(style='text-align:left;')
										p A continuación encontraras una serie de palabras que completan una frase que se encuentra en el texto sobre Bioética y Sociedad, dales un orden y un sentido coherente. 
										form#formElParcheSecond(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="3")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
											input#continuar.scroll(type="submit", value="Continuar")
							when '3'
								.row
									h3 MAPA CONCEPTUAL
									.col-md-6
										table.tableParche1(border='1')
											tr
												td Pobreza
												td Diferencias fisiológicas
												td Vejez
											tr
												td Sexo y género
												td Nacimiento y muerte
												td Desigualdad
											tr
												td Ciclos vitales
												td Mujer cabeza de familia
												td Dignidad humana
											tr
												td Discriminación sexual
												td Seguridad social
												td Diferencias psicológicas y sociales
										br
										div
											table.mapaconceptual
												tr
													td(colspan=3)
														input.mapa(readonly="readonly", value="Bioética y sociedad", style="width: 130px;")
												tr
													td.center.colorwhite /
													td.center.colorwhite |
													td.center.colorwhite \
												tr
													td
														input.mapa
													td
														input.mapa
													td
														input.mapa
												tr
													td.center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td
														input.mapa
													td
														input.mapa
													td
														input.mapa
												tr
													td.center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td
														input.mapa
													td
														input.mapa
													td
														input.mapa
												tr
													td.center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td
														input.mapa
													td
														input.mapa
													td
														input.mapa
									.col-md-6.pull-left(style='text-align:left;')
										p A continuación encontraras una serie de palabras con las que se deben hacer un mapa conceptual,  relacionando las temáticas que integran las disciplinas sociales con la bioética y algunos de los ejemplos mencionados en el escrito.
										form#formElParcheThird(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="4")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}")
											input#continuar.scroll(type="submit", value="Continuar")
							default
								h2.center.title Ganaste
								form#formGenesisThird(name="loginuser",method="post",action="/salon")
									input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}")
									input#continuar.scroll(type="submit", value="Continuar")
					when 'Nativo'
						case nivel
							when '1'
								.row
									h3 CAJÓN DE PALABRAS
									.col-md-7
										table.tableNativo1
											tr
												td(draggable="true" ondragstart="drag(event)") NES
												td(draggable="true" ondragstart="drag(event)") PE
												td(draggable="true" ondragstart="drag(event)") PEC
												td(draggable="true" ondragstart="drag(event)") BI
												td(draggable="true" ondragstart="drag(event)") DABI
												td(draggable="true" ondragstart="drag(event)") NES
											tr
												td(draggable="true" ondragstart="drag(event)") BIO
												td(draggable="true" ondragstart="drag(event)") SOS
												td(draggable="true" ondragstart="drag(event)") BIO
												td(draggable="true" ondragstart="drag(event)") LIDAD
												td(draggable="true" ondragstart="drag(event)") VA
												td(draggable="true" ondragstart="drag(event)") LIDAD
											tr
												td(draggable="true" ondragstart="drag(event)") DEGRA
												td(draggable="true" ondragstart="drag(event)") PROS
												td(draggable="true" ondragstart="drag(event)") NO
												td(draggable="true" ondragstart="drag(event)") REN
												td(draggable="true" ondragstart="drag(event)") BIO
												td(draggable="true" ondragstart="drag(event)") TE
											tr
												td(draggable="true" ondragstart="drag(event)") RE
												td(draggable="true" ondragstart="drag(event)") TERNA
												td(draggable="true" ondragstart="drag(event)") NI
												td(draggable="true" ondragstart="drag(event)") CIÓN
												td(draggable="true" ondragstart="drag(event)") LIDAD
												td(draggable="true" ondragstart="drag(event)") BLES
										br
										br
										input.cajonNativo(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajonNativo(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajonNativo(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajonNativo(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajonNativo(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
										input.cajonNativo(type="text" ondrop="drop(event)" ondragover="allowDrop(event)") 
									.col-md-5.pull-left(style='text-align:left;')
										p En el cuadro que hay a continuación están todas las sílabas que necesitas para formar los nombres de seis de las palabras involucradas en el texto de Bioética y sociedad.¿Puedes formarlas? 
										form#formNativoFirst(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="2")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
											input#continuar.scroll(type="submit", value="Continuar")
								.row
							when '2'
								.row
									h3 COMPLETA LA FRASE
									.col-md-7
										table.tableParche1(border='1')
											tr
												td UN DESARROLLO
												td SOBRE
												td SU MEDIO
											tr
												td GENERAR
												td SOSTENIBLES
												td OUTPUTS
											tr
												td SUS
												td PROCESOS
												td ES DIFÍCIL
											tr
												td PERO SI
												td MÁS
												td SE INTERNALICEN
											tr
												td EN DONDE
												td ES POSIBLE 
												td DE PRODUCCIÓN
											tr
												td IMAGINAR
												td ECONÓMICO
												td SIN IMPACTO
										br
										textarea.completaNativo
									.col-md-5.pull-left(style='text-align:left;')
										p A continuación encontraras una serie de palabras que completan una frase que se encuentra en el texto sobre Nativo, dales un orden y un sentido coherente. 
										form#formNativoSecond(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="3")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
											input#continuar.scroll(type="submit", value="Continuar")
							when '3'
								.row
									h3 MAPA CONCEPTUAL
									.col-md-7
										table.tableParche1(border='1')
											tr
												td Biomas
												td Calidad de vida
												td Tráfico ilegal
											tr
												td Tierra
												td Estudia
												td Especies
											tr
												td Medio Ambiente
												td Flora
												td Fauna
											tr
												td Ecosistemas
												td Ecología Humana
												td Biopiratería
											tr
												td Capas de la tierra
												td Comportamiento humano
												td Cultura
											tr
												td Atmósfera
												td Hidrósfera
												td Geosfera
											tr
												td Tipos de especies
												td Educación
												td Gestión Ambiental
											tr
												td Terrestre
												td Acuático
												td Aéreo
											tr
												td Huella ecológica
												td Perece
												td Agresor
											tr
												td Bioprospección
												td Plantas
												td Animales
											tr
												td Microorganismos
												td Principios bioéticos
												td Fitogenética
											tr
												td Zoogenética
												td 
												td Cadenas Tróficas
										br
										div
											table.mapaconceptualNativo
												tr
													td(colspan=8).center
														input.mapaNativo.center(readonly="readonly", value="Nativo: Bioética Ambiental", style="width: 180px;")
												tr
													td
													td.center.colorwhite /
													td
													td
													td.center.colorwhite |
													td
													td(colspan="2").center.colorwhite \
												tr
													td
													td
														input.mapaNativo
													td
													td
													td
														input.mapaNativo
													td
													td(colspan="2").center
														input.mapaNativo
												tr
													td
													td.center.colorwhite |
													td
													td
													td.center.colorwhite |
													td
													td(colspan="2").center.colorwhite |
												tr
													td
													td
														input.mapaNativo
													td
													td
													td
														input.mapaNativo
													td
													td(colspan="2").center
														input.mapaNativo
												tr
													td
													td.center.colorwhite |
													td
													td.center.colorwhite /
													td.center.colorwhite |
													td.center.colorwhite \
													td.center.colorwhite /
													td.center.colorwhite \
												tr
													td
													td
														input.mapaNativo
													td
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
														input.mapaNativo
												tr
													td.center.colorwhite /
													td.center.colorwhite |
													td.center.colorwhite \
													td.center.colorwhite \
													td.center.colorwhite |
													td.center.colorwhite /
													td.center.colorwhite \
													td.center.colorwhite /
												tr
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
													td
														input.mapaNativo
													td
													td.center(colspan="2")
														input.mapaNativo
												tr
													td.center.colorwhite \
													td.center.colorwhite |
													td.center.colorwhite /
													td
													td.center.colorwhite |
													td
													td.center.colorwhite /
													td.center.colorwhite \
												tr
													td
													td
														input.mapaNativo
													td
													td
													td
														input.mapaNativo
													td
													td
														input.mapaNativo
													td
														input.mapaNativo
												tr
													td.center.colorwhite /
													td.center.colorwhite |
													td.center.colorwhite \
													td.center.colorwhite /
													td
													td.center.colorwhite \
													td.center.colorwhite \
													td.center.colorwhite /
												tr
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
													td
														input.mapaNativo
													td.center(colspan="2")
														input.mapaNativo
												tr
													td.center.colorwhite \
													td.center.colorwhite |
													td.center.colorwhite /
													td.center.colorwhite \
													td
													td.center.colorwhite /
													td.center.colorwhite /
													td.center.colorwhite \
												tr
													td
													td
														input.mapaNativo
													td
													td
													td
														input.mapaNativo
													td
													td
														input.mapaNativo
													td
														input.mapaNativo
												tr
													td.center.colorwhite /
													td.center.colorwhite |
													td.center.colorwhite \
													td
													td
													td
													td
													td
												tr
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
														input.mapaNativo
													td
													td
													td
													td
													td
												tr
													td.center.colorwhite \
													td.center.colorwhite |
													td.center.colorwhite /
													td
													td
													td
													td
													td
												tr
													td
													td
														input.mapaNativo
													td
													td
													td
													td
													td
													td
									.col-md-5.pull-left(style='text-align:left;')
										p A continuación encontraras una serie de palabras con las que se deben hacer un mapa conceptual,  relacionando las temáticas que integran las disciplinas sociales con la bioética y algunos de los ejemplos mencionados en el escrito.
										form#formNativoThird(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="4")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}")
											input#continuar.scroll(type="submit", value="Continuar")
							default
								h2.center.title Ganaste
								form#formGenesisThird(name="loginuser",method="post",action="/salon")
									input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}")
									input#continuar.scroll(type="submit", value="Continuar")
					when 'Historia de vida'
						case nivel
							when '1'
								.row
									h3 CAJÓN DE PALABRAS
									.col-md-7
										table.tableHistoria1
											tr
												td E
												td TRIS
												td GUAL
												td TAD
												td O
												td DAD
											tr
												td TER
												td CIÓN
												td TRIS
												td FOR
												td BER
												td BI
											tr
												td TRANS
												td FRA
												td NI
												td MO
												td CO
												td MA
											tr
												td I
												td MO
												td CÉN
												td DAD
												td CEN
												td LI
										br
										br
										input.cajonHistoria(type="text") 
										input.cajonHistoria(type="text") 
										input.cajonHistoria(type="text") 
										input.cajonHistoria(type="text") 
										input.cajonHistoria(type="text") 
										input.cajonHistoria(type="text") 
									.col-md-5.pull-left(style='text-align:left;')
										p En el cuadro que hay a continuación están todas las sílabas que necesitas para formar los nombres de seis de las palabras involucradas en el texto de Bioética y sociedad.¿Puedes formarlas? 
										form#formHistoriaFirst(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="2")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
											input#continuar.scroll(type="submit", value="Continuar")
								.row
							when '2'
								.row
									h3 COMPLETA LA FRASE
									.col-md-7
										table.tableParche1(border='1')
											tr
												td EN LAS
												td MUNDO
												td TRANSFORMACIÓN
											tr
												td BUSCA UNA
												td A LAS PERSONAS
												td A LA RELACIÓN
											tr
												td Y
												td CON LOS OTROS
												td DIFERENTES
											tr
												td QUE EXISTEN
												td FRENTE
												td CON LA NATURALEZA
											tr
												td SOBRE TODO
												td CULTURAS
												td QUE RIGEN
											tr
												td EN LOS VALORES
												td LA BIOÉTICA
												td EN EL
										br
										textarea.completaHistoria
									.col-md-5.pull-left(style='text-align:left;')
										p A continuación encontraras una serie de palabras que completan una frase que se encuentra en el texto sobre Historia de la vida, dales un orden y un sentido coherente. 
										form#formHistoriaSecond(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="3")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
											input#continuar.scroll(type="submit", value="Continuar")
							when '3'
								.row
									h3 MAPA CONCEPTUAL
									.col-md-7
										table.tableParche1(border='1')
											tr
												td Historia de la Bioética
												td Impacto sobre el planeta
												td Fritz Jahr
												td Solucionar
											tr
												td Aldo Leopold
												td Centro de investigación
												td Calidad de vida
												td Unesco
											tr
												td The Hasting Center
												td VIH/SIDA
												td André Helleguer
												td San Francisco de Asís
											tr
												td Antropocentrismo
												td Van Rensselaer Potter
												td Calentamiento global
												td Juramento Hipocrático
										br
										div
											table.mapaconceptualHistoria
												tr
													td(colspan="4").center
														input.mapaHistoria.center(style="width: 180px;")
												tr
													td(colspan="2").center.colorwhite /
													td.center.colorwhite |
													td.center.colorwhite \
												tr
													td(colspan="2").center Antecendetes
													td.center Surgimiento
													td.center Desarrollo y prospectiva
												tr
													td(colspan="2").center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td(colspan="2").center
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
												tr
													td(colspan="2").center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td(colspan="2").center Antigua Grecia
													td.center Creó y fundamentó el término Bioética
													td.center Problemas medioambientales
												tr
													td(colspan="2").center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td(colspan="2").center
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
												tr
													td(colspan="2").center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td(colspan="2").center Cosmopolitismo
													td.center Creó la disciplina
													td.center Pandemias
												tr
													td(colspan="2").center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td(colspan="2").center
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
												tr
													td(colspan="2").center.colorwhite |
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td(colspan="2").center Biocentrismo
													td.center Visión Clínica
													td.center Problemas Sociales
												tr
													td.center.colorwhite /
													td.center.colorwhite \
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
												tr
													td
													td
													td.center.colorwhite |
													td.center.colorwhite |
												tr
													td
													td
													td
														input.mapaHistoria.center
													td
														input.mapaHistoria.center
									.col-md-5.pull-left(style='text-align:left;')
										p A continuación encontraras una serie de palabras con las que se deben hacer un mapa conceptual,  relacionando las temáticas que integran las disciplinas sociales con la bioética y algunos de los ejemplos mencionados en el escrito.
										form#formHistoriaThird(name="loginuser",method="post",action="/juegos",style="display:none")
											input#inputtitle(type="hidden", name="title", value="#{title}")
											input#inputnivel(type="hidden", name="nivel", value="4")
											input#inputwinner(type="hidden", name="winner", value="1")
											input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}")
											input#continuar.scroll(type="submit", value="Continuar")
							default
								h2.center.title Ganaste
								form#formGenesisThird(name="loginuser",method="post",action="/salon")
									input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}")
									input#continuar.scroll(type="submit", value="Continuar")
					when 'Mundo Ciber'
						case nivel
							when '1'
								.row
									.col-md-5.tablaCiber1
										div(onclick="this.style.background='yellow'") Phishing
										hr
										div(onclick="this.style.background='orange'") Telemedicina
										hr
										div(onclick="this.style.background='blue';this.style.color='white'") Neurociencia
										hr
										div(onclick="this.style.background='black';this.style.color='white'") Propiedad intelectual
										hr
										div(onclick="this.style.background='red';this.style.color='white'") Industria farmacéutica
										hr
										div(onclick="this.style.background='gray'") Ingeniería genética
										hr
										div(onclick="this.style.background='green'") grooming
										hr
										div(onclick="this.style.background='purple';this.style.color='white'") Biotecnología
									.col-md-2
									.col-md-5.tablaCiber1
										div(onclick="this.style.background='black';this.style.color='white'") Empresas privadas
										hr
										div(onclick="this.style.background='red';this.style.color='white'") Investigación que da origen a nuevos medicamentos según se presenten las enfermedades y patentes que las respalden
										hr
										div(onclick="this.style.background='gray'") la ovejita Dolly
										hr
										div(onclick="this.style.background='green'") Tratar de ganarse la confianza de un menor de edad para abusar sexualmente de él
										hr
										div(onclick="this.style.background='blue';this.style.color='white'") Investigaciones que se dedican al área del cerebro
										hr
										div(onclick="this.style.background='yellow'") Suplantar la identidad de otro en la web
										hr
										div(onclick="this.style.background='purple';this.style.color='white'") Utilizar todos los procesos biológicos al servicio de la producción de bienes y servicios
										hr
										div(onclick="this.style.background='orange'") Dispositivos móviles para la monitorización de la salud de los pacientes
								.row
									form#formCiberFirst(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="2")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar")
							when '2'
								h3 Crucigrama
								.col-md-6
									table.tablaFull7(border='1')
										tr
											td
											td
											td
											td
											td.numero 2
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td.numero 1
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td.numero 1
											td.letra
												input.group2v.group1h(type='text', maxlength='1')
											td.letra
												input.group1h(type='text', maxlength='1')
											td.letra
												input.group1h(type='text', maxlength='1')
											td.letra
												input.group1h(type='text', maxlength='1')
											td.letra
												input.group1h(type='text', maxlength='1')
											td.letra
												input.group1h(type='text', maxlength='1')
											td.letra
												input.group1h(type='text', maxlength='1')
											td.numero 3
											td
											td
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td.numero 2
											td.letra
												input.group2v.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
											td.letra
												input.group3v.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
											td.letra
												input.group2h(type='text', maxlength='1')
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td.numero 3
											td.letra
												input.group2v.group3h(type='text', maxlength='1')
											td.letra
												input.group3h(type='text', maxlength='1')
											td.letra
												input.group3h(type='text', maxlength='1')
											td.letra
												input.group3h(type='text', maxlength='1')
											td.letra
												input.group3h(type='text', maxlength='1')
											td
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td.numero 4
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group3v.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
											td.letra
												input.group4h(type='text', maxlength='1')
										tr
											td
											td
											td.letra
												input.group1v(type='text', maxlength='1')
											td
											td.letra
												input.group2v(type='text', maxlength='1')
											td
											td
											td
											td
											td
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
										tr
											td.numero 5
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group1v.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group5h(type='text', maxlength='1')
											td.letra
												input.group3v.group5h(type='text', maxlength='1')
											td
											td
										tr
											td
											td
											td
											td
											td
											td
											td
											td
											td
											td
											td
											td.letra
												input.group3v(type='text', maxlength='1')
											td
											td
								.col-md-6(style='text-align:left;')
									h3 Horizontal
									ol(type='1')
										li Es el óvulo fecundado en sus primeras etapas de desarrollo
										li La moral aplicada a los estudios e investigaciones del cerebro
										li secuencia ordenada de nucleótidos en la molécula de ADN
										li Rama del saber humano constituida por el conjunto de conocimientos objetivos y verificables sobre una materia 
										li Invertido, utilizar a medias algo
									h3 Vertical
									ol(type='1')
										li Invertido. Organismo que no requiere de oxígeno para crecer. 
										li Conjunto de los conocimientos, instrumentos, recursos técnicos o procedimientos de un determinado saber
										li La utilización de medios informáticos para acosar a un individuo.
									form#formCiberSecond(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="3")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar") 
							when '3'
								h3 Sopa de letras
								.col-md-6
									table.tableFull8(border='1')
										tr
											td A
											td P
											td O
											td R
											td W
											td L
											td T
											td O
											td B
											td O
											td R
											td O
											td N
											td A
											td N
										tr
											td F
											td S
											td Ñ
											td M
											td R
											td Q
											td C
											td Y
											td I
											td Q
											td U
											td I
											td S
											td Y
											td U
										tr
											td D
											td E
											td E
											td C
											td L
											td B
											td P
											td V
											td E
											td R
											td T
											td R
											td H
											td P
											td L
										tr
											td A
											td X
											td H
											td N
											td K
											td D
											td S
											td N
											td N
											td S
											td A
											td E
											td B
											td C
											td A
										tr
											td I
											td T
											td C
											td L
											td O
											td N
											td A
											td C
											td I
											td O
											td N
											td C
											td C
											td O
											td D
										tr
											td C
											td I
											td P
											td E
											td N
											td I
											td A
											td P
											td O
											td R
											td W
											td N
											td I
											td N
											td I
										tr
											td N
											td N
											td S
											td C
											td A
											td N
											td C
											td O
											td T
											td E
											td R
											td A
											td T
											td I
											td V
										tr
											td E
											td G
											td H
											td O
											td P
											td A
											td F
											td A
											td R
											td M
											td A
											td C
											td O
											td S
											td R
										tr
											td I
											td Ñ
											td S
											td R
											td A
											td C
											td A
											td D
											td C
											td R
											td T
											td L
											td N
											td I
											td O
										tr
											td C
											td R
											td I
											td R
											td B
											td L
											td I
											td N
											td O
											td I
											td R
											td I
											td P
											td C
											td R
										tr
											td O
											td N
											td T
											td O
											td T
											td E
											td S
											td U
											td N
											td X
											td N
											td N
											td R
											td O
											td B
										tr
											td R
											td E
											td R
											td S
											td Y
											td N
											td B
											td X
											td T
											td P
											td S
											td U
											td E
											td R
											td E
										tr
											td U
											td U
											td O
											td L
											td A
											td D
											td S
											td N
											td N
											td S
											td A
											td D
											td M
											td I
											td R
										tr
											td E
											td Ñ
											td M
											td R
											td Q
											td C
											td Y
											td I
											td Q
											td U
											td I
											td S
											td Y
											td O
											td E
										tr
											td N
											td P
											td A
											td M
											td E
											td D
											td I
											td C
											td I
											td N
											td A
											td W
											td T
											td I
											td C
								.col-md-6.pull-left(style='text-align:left;')
									ol
										li CEREBRO
										li COMUNICACIONES
										li CANCER
										li CLONACIÓN
										li FARMACOS
										li NEUROCIENCIA
										li NANOROBOT
										li ADN
										li SEXTING
										li MEDICINA
									form#formElGalenoThird(name="loginuser",method="post",action="/juegos",style="display:none")
										input#inputtitle(type="hidden", name="title", value="#{title}")
										input#inputnivel(type="hidden", name="nivel", value="4")
										input#inputwinner(type="hidden", name="winner", value="1")
										input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
										input#continuar.scroll(type="submit", value="Continuar")
							default
								h2.center.title Ganaste
								form#formGenesisThird(name="loginuser",method="post",action="/salon")
									input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
									input#continuar.scroll(type="submit", value="Continuar")
		.col-md-3
			form#formLoginUser(name="loginuser",method="post",action="/conceptos")
				input#inputtitle(type="hidden", name="title", value="#{title}")
				input#inputCorreoElectronico(type="hidden", placeholder="correoElectronico", name="correoElectronico", value="#{user.correoElectronico}") 
				input.btn.btn-primary.big-button(type="submit", value='Conceptos Claves') 
			input.btn.btn-primary.big-button(type="button", value='Regresar' onclick='window.history.back();')